:root {
    --black-1: #1a1a1a;
    --black-2: #1f1f1f;
    --black-3: #272727;
    --blue-color1: #1E90FF;
    --blue-color2: #46aefe;
    --blue-color3: #6330f9;
    --text-color: #333;
    --x-color1: #707070;
    --x-color2: #ddd;
    --x-color3: #eee;
    --x-color4: #f3f3f3;
    --while-color: #fff;
    --while-x: #fff;
    --red-color: #FF4500;
    
    --while: #fff;
    --bgr-sidebar: #f6f5fe;
    --sidebar: #fff;
    --title-black: #333;
    --black: #1f1f1f;
    
    --sidebar-w: 200px;
    --tran-1: all .1s;
    --tran-2: all .2s;
    --tran-3: all .3s;
    --tran-5: all .5s;
    --height-header: 70px;
    --width-sidebar: 240px;
    --bgr-body: #fff;


    --ci-sr: #333;
    --tc:#333;
    --hv-s:#eee;
    --bgr-search: #fff;
    --ci-ck: #fff;
}
* {
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    box-sizing: border-box;
    color: var(--tc);
}
.wrap {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
.container {max-width: 100%;}


@keyframes more {
    0% {
        opacity: 0;
        transform: translateX(0) translateY(0);
    }10% {
        opacity: 1;
    }80%{
        opacity: 1;
    }100% {
        opacity: 0;
        transform: translateY(50vh) translateX(20vh);
        
    }
}
